.footer {
  background-color: #333;
  /* Dark background */
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: start;
  flex-wrap: wrap;
}

.footer-section {
  margin: 10px;
}

.footer-section h4 {
  margin-bottom: 10px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-section ul li a:hover {
  color: #ff5252;
  /* Highlight color on hover */
}

.footer-section p {
  margin: 5px 0;
}